<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a Test Driver del MTC de Perú Actualizado</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a Test Driver del MTC de Perú Actualizado</h1>
        
        <div>
            <textarea rows="4" cols="50" placeholder="Introduce una breve explicación de la web"></textarea>
        </div>
        
        <div class="categories">
            <div class="category">Categoría 1</div>
            <div class="category">Categoría 2</div>
            <div class="category">Categoría 3</div>
            <!-- Agrega más categorías según sea necesario -->
        </div>
        
        <a class="button" href="/">Inicio</a>
    </div>
</body>
</html>
